*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p{
    margin: 10px;
}

.w-500{
    width: 500px;
}

.h-500{
    height: 500px;
}

hr{
    margin: 20px 10px;
}

.my-30{
    margin: 30px 0px;
}

.ps-30{
    padding-left: 30px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px; 
}

.square{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-goldenrod{
    background-color: goldenrod;
}

.bg-silver{
    background-color: silver;
}

.bg-green{
    background-color: green;
}

.position-relative{
    position: relative
}

.position-absolute{
    position: absolute;
}

.position-fixed{
    position: fixed
}

.position-sticky{
    position: sticky
}

.z-index-1{
    z-index: 1;
}

.top-10{
    top: 10px;
}

.top-0{
    top: 0px;
}

.bottom-0{
    bottom: 0px;
}

.right-0{
    right: 0px;
}

.left-200{
    left: 200px;
}

